.clients-list {
    display: flex;
}

.client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item {
    margin-right: 30px;
}

.client-item:last-child {
    margin-right: 0;
}

.client-logo:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
}

.client-logo:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
}

.client-pic {
    fill: currentColor;
}