
.header {
    border-bottom: 1px solid #ECECEC;
}

.container-list {
    display: flex;
    align-items: center;
}

.section {
    flex-wrap: wrap;
    align-items: center;
    @extend %centered;
    padding: 94px 15px;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts .item {
    margin-right: 50px;
}

.header-contacts .link {
    color: $primary-color;
    transition-property: background-color;
    @extend %animation;
 }

.header-contacts .link:hover {
    color: $accent-color;
}

.icon-mail,
.icon-phone {
    fill: currentColor;
    margin-right: 10px;
}

.item .current::after {
    content: "";
    display: block;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 20px;
    position: absolute;
    bottom: -1px;
}

.icon-mail,
.icon-phone {
    fill: currentColor;
    margin-right: 10px;
}
