.logo {
    color: $accent-color;
    text-decoration: none;
    font-family: "raleway", sans-serif;
    letter-spacing: 0.03em;
    @include text(26px, 700, 1.19);

    &__label--header {
            color: #000;
        }
    
    &__label--footer {
            color: $back-color;
        }
}

