html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

body {
    color: $primary-color;
    font-family: "roboto", sans-serif;

}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    color: $secondary-color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition-property: color;
    @extend %animation;
}

.link:hover,
.link:focus {
    color: $accent-color;
}

.current {
    color: $accent-color;
    position: relative;
}

.container {
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    @extend %animation;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link:hover,
.social__link:focus {
    color: $back-color;
    background-color: $accent-color;
}

.social__icon {
    fill: currentColor;
}